@model BragiBlogPoster.Models.Comment

@{
    ViewData["Title"] = "Create";


}

<h1>Create</h1>

<h4>Comment</h4>
<hr />
<div class = "row" >
    <div class = "col-md-4" >
        <form asp-action = "Create" >
            <div asp-validation-summary = "ModelOnly"
                 class = "text-danger" >
            </div>
            <div class = "form-group" >
                <label asp-for = "PostId"
                       class = "control-label" >
                </label>
                <select asp-for = "PostId"
                        asp-items = "ViewBag.PostId"
                        class = "form-control" >
                </select>
            </div>
            <div class = "form-group" >
                <label asp-for = "BlogUserId"
                       class = "control-label" >
                </label>
                <select asp-for = "BlogUserId"
                        asp-items = "ViewBag.BlogUserId"
                        class = "form-control" >
                </select>
            </div>
            <div class = "form-group" >
                <label asp-for = "Content"
                       class = "control-label" >
                </label>
                <input asp-for = "Content"
                       class = "form-control" />
                <span asp-validation-for = "Content"
                      class = "text-danger" >
                </span>
            </div>
            <div class = "form-group" >
                <label asp-for = "Created"
                       class = "control-label" >
                </label>
                <input asp-for = "Created"
                       class = "form-control" />
                <span asp-validation-for = "Created"
                      class = "text-danger" >
                </span>
            </div>
            <div class = "form-group" >
                <label asp-for = "Updated"
                       class = "control-label" >
                </label>
                <input asp-for = "Updated"
                       class = "form-control" />
                <span asp-validation-for = "Updated"
                      class = "text-danger" >
                </span>
            </div>
            <div class = "form-group" >
                <input class = "btn btn-primary"
                       type = "submit"
                       value = "Create" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action = "Index" >Back to List</a>
</div>

@section Scripts {
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial").ConfigureAwait(false); }
}
