@model BlogPosts.Models.Post

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Post</h4>
<hr />
<div class = "row" >
    <div class = "col-md-4" >
        <form asp-action = "Edit" >
            <div asp-validation-summary = "ModelOnly"
                 class = "text-danger" >
            </div>
            <input asp-for = "Id"
                   type = "hidden" />
            <div class = "form-group" >
                <label asp-for = "BlogId"
                       class = "control-label" >
                </label>
                <select asp-for = "BlogId"
                        asp-items = "ViewBag.BlogId"
                        class = "form-control" >
                </select>
                <span asp-validation-for = "BlogId"
                      class = "text-danger" >
                </span>
            </div>
            <div class = "form-group" >
                <label asp-for = "Title"
                       class = "control-label" >
                </label>
                <input asp-for = "Title"
                       class = "form-control" />
                <span asp-validation-for = "Title"
                      class = "text-danger" >
                </span>
            </div>
            <div class = "form-group" >
                <label asp-for = "Abstract"
                       class = "control-label" >
                </label>
                <input asp-for = "Abstract"
                       class = "form-control" />
                <span asp-validation-for = "Abstract"
                      class = "text-danger" >
                </span>
            </div>
            <div class = "form-group" >
                <label asp-for = "Content"
                       class = "control-label" >
                </label>
                <input asp-for = "Content"
                       class = "form-control" />
                <span asp-validation-for = "Content"
                      class = "text-danger" >
                </span>
            </div>
            <div class = "form-group" >
                <label asp-for = "Image"
                       class = "control-label" >
                </label>
                <input asp-for = "Image"
                       class = "form-control" />
                <span asp-validation-for = "Image"
                      class = "text-danger" >
                </span>
            </div>
            <div class = "form-group" >
                @*<label asp-for="CreatedDateTime" class="control-label"></label>*@
                <input asp-for = "CreatedDateTime"
                       class = "form-control"
                       hidden = "" />
                <span asp-validation-for = "CreatedDateTime"
                      class = "text-danger" >
                </span>
            </div>
            <div class = "form-group" >
                @*<label asp-for="UpdatedDateTime" class="control-label"></label>*@
                <input asp-for = "UpdatedDateTime"
                       class = "form-control"
                       hidden = "" />
                <span asp-validation-for = "UpdatedDateTime"
                      class = "text-danger" >
                </span>
            </div>
            <div class = "form-group" >
                <input class = "btn btn-primary"
                       type = "submit"
                       value = "Save" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action = "Index" >Back to List</a>
</div>

@section Scripts {
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
}
